@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #0f172a;
    color: white;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #0f172a;
}

::-webkit-scrollbar-thumb {
  background-color: #334155;
  border-radius: 9999px;
  border: 2px solid #0f172a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #475569;
}